body {
    background-color: #f8f9fa;
    color: #333;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #007bff;
    color: #fff;
}

form {
    background-color: transparent;
    color: inherit;
    padding: 0;
    border-radius: 8px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
select:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

input[type="submit"] {
    background-color: #fff;
    color: #007bff;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    padding: 12px;
    border: 1px solid #007bff;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #007bff;
    color: #fff;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
}

select::before {
    content: "\25BC";
    position: absolute;
    top: 12px;
    right: 12px;
    color: #333;
    font-size: 12px;
    pointer-events: none;
}

.select-container {
    position: relative;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

#thankYouMessage {
    text-align: center;
    font-size: 24px;
}

#thankYouMessage h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
    .form-container {
        padding: 10px;
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    input[type="date"],
    input[type="submit"],
    select {
        font-size: 14px;
    }
}
